NFT_WASM_PATH=/<your path>/casper-nft-cep47/target/wasm32-unknown-unknown/release/cep47-token.wasm
MARKET_WASM_PATH=/<your path>/market-contract/market/contract/target/wasm32-unknown-unknown/release/contract.wasm
PAYMENT_WASM_PATH=/<your path>/market-contract/payment/contract/target/wasm32-unknown-unknown/release/contract.wasm

CHAIN_NAME=casper-net-1
NODE_ADDRESS=http://localhost:11101/rpc
EVENT_STREAM_ADDRESS=http://localhost:18101/events/main

# MASTER keys must stay the same since they are the contract owner & we pull the contract info from their account
NFT_MASTER_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/faucet
MARKET_MASTER_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-1

USER_1_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-1
USER_2_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-2
USER_3_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-3
USER_4_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-4
USER_5_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-5
USER_6_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-6
USER_7_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-7
USER_8_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-8
USER_9_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-9
USER_10_KEY_PAIR_PATH=/<your path>/casper/casper-node/utils/nctl/assets/net-1/users/user-10

NFT_CONTRACT_NAME=best_nft
MARKET_CONTRACT_NAME=best_market

NFT_TOKEN_ID=1
TOKEN_NAME=CRAZYBOY
TOKEN_SYMBOL=CRZB
TOKEN_META=1 one,2 two

NFT_LISTING_PRICE=101
NFT_OFFER_AMOUNT=100

MARKET_INSTALL_PAYMENT_AMOUNT=160000000000
LISTING_INSTALL_PAYMENT_AMOUNT=7000000000
NFT_INSTALL_PAYMENT_AMOUNT=115000000000
OFFER_INSTALL_PAYMENT_AMOUNT=9000000000
MINT_ONE_PAYMENT_AMOUNT=2000000000
TRANSFER_PAYMENT_AMOUNT=2000000000
DEPLOY_PAYMENT_AMOUNT=7000000000